.details-page {
  
  h2 {
    font-size: 1.5em;
  }
  
  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin: 10px 0;

    input {
      outline: none;
      margin-left: 10px;
      height: 20px;
      font-size: 15px;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }

  .header-col {
    background-color: #999;
    font-weight: bold;
  }

  .col {
    background-color: #eee;
  }
 
  .header-col,
  .col,
  .error-msg {
    display: inline-block;
    padding: 5px;
    margin: 1px;
  }

  .touchdown {
    background-color: #00ee99;
  }

  .col200 {
    width: 200px;
  }

  .col70 {
    width: 70px;
  }

  .col50 {
    width: 50px;
  }
 
  .error-msg {
    background-color: #ff5550;
    font-weight: bold;
  }

  .csv-link {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    color: #445599;
  }

  .sorted-col {
    background-color: #445599;
  }
  
  .sortable-col::after {
    content: "^";
    color: #99ee99;
    margin-left: 4px;
    font-size: 10px;
    vertical-align: bottom;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}
