.details-page {
  
  h2 {
    font-size: 1.5em;
  }
  
  section {
    &.centered {
      text-align: center;
    }
  }

  .filter-bar {
    margin: 10px 0;

    input {
      outline: none;
      margin-left: 10px;
      height: 25px;
      font-size: 20px;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }

  .header-col {
    background-color: #999;
    font-weight: bold;
  }

  .col {
    background-color: #eee;
  }
 
  .header-col,
  .col,
  .error-msg {
    display: inline-block;
    padding: 5px;
    margin: 1px;
  }

  .touchdown {
    background-color: #00ee99;
  }

  .td-box {
    text-align: center;
    margin-left: 420px;
  }

  .col200 {
    width: 200px;
  }

  .col70 {
    width: 70px;
  }

  .col50 {
    width: 50px;
  }

  .col60 {
    width: 60px;
  }
 
  .error-msg {
    background-color: #ff5550;
    font-weight: bold;
  }

  .csv-link {
    float: right;
    margin-right: 20px;
    color: #445599;
  }

  .sorted-col {
    background-color: #8D9EE0;
  }
  
  .sortable-col {
    cursor: pointer;
  }

  .sortable-col::after {
    color: #99ee99;
    margin-left: 4px;
    font-size: 8px;
    vertical-align: bottom;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .ascending::after {
    content: "⬆";
  }

  .descending::after {
    content: "⬇";
  }

  .unsorted::after {
    font-size: 14px;
    content: "⬍";
  }

  .ascending::after,
  .descending::after,
  .unsorted::after {
    vertical-align: middle;
  }

  .pagination-bar {
    text-align: center;
  }


  .page-counter,
  .previous-page,
  .next-page {
    display: inline-block;
    margin: 0 5px;
  }

  .previous-page,
  .next-page {
    cursor: pointer;
  }

  .next-page::after {
    content: "⮀";
  }
  .previous-page::after {
    content: "⮂";
  }
}
