.app-wrapper {
  min-width: calc(200px + 50px * 11 + 60px + 70px * 3 + 80px);
  max-width: calc(200px + 50px * 11 + 60px + 70px * 3 + 80px);
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;
}